<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <h2 class="custom-heading mb-0"><b>Usuários Cadastrados</b></h2>
                <ng-template pTemplate="right">
                    <div class="my-2">
                        <button pButton pRipple label="Novo Usuário" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="users" [columns]="colsUsers" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['id','nome','email','matricula']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Página {first} de {last}" [(selection)]="selectedUsers" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Pesquisar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="nome">Nome <p-sortIcon field="nome"></p-sortIcon></th>
                        <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                        <th pSortableColumn="matricula">Matricula <p-sortIcon field="matricula"></p-sortIcon></th>
                        <th pSortableColumn="quantidadeEmprestimosRealizados">Emprestimos Realizados <p-sortIcon field="quantidadeEmprestimosRealizados"></p-sortIcon></th>
                        <th pSortableColumn="bloqueado">Status</th>
                        <th pSortableColumn="acao">Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user >
                    <tr>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Id</span>
                            {{user.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Nome</span>
                            {{user.nome}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Email</span>
                            {{user.email}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Matricula</span>
                            {{user.matricula}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Emprestimos Realizados</span>
                            {{user.quantidadeEmprestimosRealizados}}
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Status</span>
                            <span [class]="'product-badge status-' + (user.bloqueado ? 'Desativo' : 'Ativo')">
                                {{ user.bloqueado ? 'Desativo' : 'Ativo' }}
                            </span>
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editUser(user)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteUserDialog(user)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <!-- <p-dialog [(visible)]="UserDialog" [style]="{width: '450px'}" header="Cadastrar Usuário" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
              <form [formGroup]="userForm" (ngSubmit)="submit">
                <div class="field">
                  <label for="nome">Nome</label>
                  <input type="text" pInputText id="nome" formControlName="nome" [(ngModel)]="user.nome" required autofocus [ngClass]="{'ng-invalid ng-dirty': submitted && f.nome.errors}"/>
                  <small class="ng-dirty ng-invalid" *ngIf="submitted && f.nome.errors?.required">Nome obrigatório</small>
                  <small class="ng-dirty ng-invalid" *ngIf="submitted && f.nome.errors?.minlength">O nome deve conter entre 3 e 50 caracteres.</small>
                  <small class="ng-dirty ng-invalid" *ngIf="submitted && f.nome.errors?.maxlength">O nome deve conter entre 3 e 50 caracteres.</small>
                </div>
                <div class="field">
                  <label for="matricula">Matrícula</label>
                  <input type="text" pInputText id="matricula" formControlName="matricula" [(ngModel)]="user.matricula" required [ngClass]="{'ng-invalid ng-dirty': submitted && f.matricula.errors}"/>
                  <small class="ng-dirty ng-invalid" *ngIf="submitted && f.matricula.errors?.required">Matrícula obrigatória</small>
                  <small class="ng-dirty ng-invalid" *ngIf="submitted && f.matricula.errors?.pattern">A matrícula deve conter exatamente 6 dígitos numéricos.</small>
                </div>
                <div class="formgrid grid">
                  <div class="field col">
                    <label for="email">Email</label>
                    <input type="text" pInputText id="email" formControlName="email" [(ngModel)]="user.email" required [ngClass]="{'ng-invalid ng-dirty': submitted && f.email.errors}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && f.email.errors?.required">Email obrigatório</small>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && f.email.errors?.email">O email fornecido não é válido.</small>
                  </div>
                  <div class="field col">
                    <label for="senha">Senha</label>
                    <input pInputText id="senha" formControlName="senha" [(ngModel)]="user.senha" required type="password" [ngClass]="{'ng-invalid ng-dirty': submitted && f.senha.errors}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && f.senha.errors?.required">Senha obrigatória</small>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && f.senha.errors?.pattern">A senha deve conter exatamente 6 dígitos numéricos.</small>
                  </div>
                </div>
              </form>
            </ng-template>

            <ng-template pTemplate="footer">
              <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-danger" (click)="hideDialog()"></button>
              <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-success" (click)="saveUser()" [disabled]="userForm.invalid"></button>
            </ng-template>
          </p-dialog> -->
          <p-dialog [(visible)]="UserDialog" [style]="{width: '450px'}" header="Cadastrar Usuário" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="nome">Nome</label>
                    <input type="text" pInputText id="nome" [(ngModel)]="user.nome" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.nome}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.nome">Nome obrigatório</small>
                </div>
                <div class="field">
                    <label for="matricula">Matrícula</label>
                    <input type="text" pInputText id="matricula" [(ngModel)]="user.matricula" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.matricula}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.matricula">Matrícula obrigatório</small>
                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="email">Email</label>
                        <input type="text" pInputText id="email" [(ngModel)]="user.email" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.email}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.email">Email obrigatório</small>
                    </div>
                    <div class="field col">
                        <label for="senha">Senha</label>
                        <input pInputText id="senha" [(ngModel)]="user.senha" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.senha}" id="password" type="password">
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.senha">Senha obrigatório</small>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-danger" (click)="hideDialog()"></button>
                <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-success" (click)="saveUser()"></button>
            </ng-template>
        </p-dialog>

          <!-- <p-dialog [(visible)]="editDialog" [style]="{width: '450px'}" header="Atualizar Usuário" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
              <form [formGroup]="userForm" (ngSubmit)="saveUser()">
                <div class="field">
                  <label for="nome">Nome</label>
                  <input type="text" pInputText id="nome" [(ngModel)]="user.nome" formControlName="nome" required autofocus [ngClass]="{'ng-invalid ng-dirty': submitted && f.nome.errors}"/>
                  <small class="ng-dirty ng-invalid" *ngIf="submitted && f.nome.errors?.required">Nome obrigatório</small>
                  <small class="ng-dirty ng-invalid" *ngIf="submitted && f.nome.errors?.minlength">O nome deve conter entre 3 e 50 caracteres.</small>
                  <small class="ng-dirty ng-invalid" *ngIf="submitted && f.nome.errors?.maxlength">O nome deve conter entre 3 e 50 caracteres.</small>
                </div>
                <div class="field">
                  <label for="matricula">Matrícula</label>
                  <input type="text" pInputText id="matricula" [(ngModel)]="user.matricula" formControlName="matricula" required [ngClass]="{'ng-invalid ng-dirty': submitted && f.matricula.errors}"/>
                  <small class="ng-dirty ng-invalid" *ngIf="submitted && f.matricula.errors?.required">Matrícula obrigatória</small>
                  <small class="ng-dirty ng-invalid" *ngIf="submitted && f.matricula.errors?.pattern">A matrícula deve conter exatamente 6 dígitos numéricos.</small>
                </div>
                <div class="formgrid grid">
                  <div class="field col">
                    <label for="email">Email</label>
                    <input type="text" pInputText id="email" [(ngModel)]="user.email" formControlName="email" required [ngClass]="{'ng-invalid ng-dirty': submitted && f.email.errors}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && f.email.errors?.required">Email obrigatório</small>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && f.email.errors?.email">O email fornecido não é válido.</small>
                  </div>
                  <div class="field col">
                    <label for="senha">Senha</label>
                    <input pInputText id="senha"  [(ngModel)]="user.senha" formControlName="senha" type="password" [ngClass]="{'ng-invalid ng-dirty': submitted && f.senha.errors}"/>
                  </div>
                </div>
              </form>
            </ng-template>

            <ng-template pTemplate="footer">
              <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-danger" (click)="editDialog = false"></button>
              <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-success" (click)="saveUser()"></button>
            </ng-template>
        </p-dialog> -->


        <p-dialog [(visible)]="deleteDialog" header="Deletar Usuário" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem" style="font-size: 2rem; color: #ffc107;"></i>
                <span *ngIf="user">Tem certeza que deseja <b>deletar</b> o usuário <b>{{user.nome}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-primary" label="Não" (click)="deleteDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-danger" label="Sim" (click)="deleteUser()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
