<div class="grid">
        <div class="col-12 lg:col-6 xl:col-3 shadow">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Livros No Acervo</span>
                        <div class="text-900 font-medium text-xl" >{{ totalLivros }}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center">
                        <i class="fa-solid fa-book" style="color: #66B5A7; font-size: 60px;"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3 shadow">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Livros Emprestados</span>
                        <div class="text-900 font-medium text-xl">30</div>
                    </div>
                    <div class="flex align-items-center justify-content-center">
                        <i class="fa-regular fa-chart-bar fa-flip-horizontal" style="color: #A97DE0; font-size: 60px;" ></i>
                        <!-- <i class="fa-solid fa-bars-staggered" style="color: #A97DE0; font-size: 60px;"></i> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3 shadow">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Livros Disponíveis</span>
                        <div class="text-900 font-medium text-xl">200</div>
                    </div>
                    <div class="flex align-items-center justify-content-center me-5">
                        <i class="fa-solid fa-chart-simple" style="color: #F2B57D; font-size: 60px;"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3 shadow">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Usuários Cadastrados</span>
                        <div class="text-900 font-medium text-xl">152</div>
                    </div>
                    <div class="flex align-items-center justify-content-center">
                        <!-- <i class="pi pi-comment text-purple-500 text-xl"></i> -->
                        <i class="fa-regular fa-user fa-xl" style="color: #70c0d2; font-size: 60px;"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card shadow">
                <span class="block text-500 font-medium mb-3" >Últimos Livros Emprestados</span>
                <p-carousel [value]="livros" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="carouselResponsiveOptions">
                    <ng-template let-livro pTemplate="item">
                            <div class="border-round m-2 text-center p-2" style="border: 1px solid var(--surface-d)">
                                <div class="my-5">
                                    <img *ngIf="livro.nomeArquivoCapa" [src]="getCapaUrl(livro.nomeArquivoCapa)" [alt]="livro.titulo" class="shadow-4" width="50%"/>
                                </div>
                                <div>
                                    <h5 class="mb-1">{{livro.titulo}}</h5>
                                    <!-- <span [class]="'product-badge status-'+product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span> -->
                                    <!-- <div class="my-5">
                                        <button pButton pRipple icon="pi pi-search" class="mr-2 p-button-rounded"></button>
                                        <button pButton pRipple icon="pi pi-star-fill" class="mr-2 p-button-rounded p-button-success"></button>
                                        <button pButton pRipple icon="pi pi-cog" class="p-button-rounded p-button-info"></button>
                                    </div> -->
                                </div>
                            </div>
                    </ng-template>
                </p-carousel>
            </div>
        </div>
</div>

