<div class="grid">
    <div class="col-12">
        <div class="card px-3 py-4">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <h2 class="custom-heading mb-0"><b>Livros Cadastrados</b></h2>
                <ng-template pTemplate="right">
                    <div class="my-2">
                        <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <!-- <button pButton pRipple label="Deletar" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedUsers()" [disabled]="!selectedUsers || !selectedUsers.length"></button> -->
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="livros" [columns]="colsLivros" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['id','nome','email','matricula']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Página {first} de {totalRecords}" [(selection)]="selectedLivros" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Pesquisar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <!-- <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th> -->
                        <!-- <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th> -->
                        <th pSortableColumn="nomeArquivoCapa">Capa<p-sortIcon field="nomeArquivoCapa"></p-sortIcon></th>
                        <th pSortableColumn="titulo">Titulo <p-sortIcon field="titulo"></p-sortIcon></th>
                        <th pSortableColumn="autor">Autor <p-sortIcon field="autor"></p-sortIcon></th>
                        <th pSortableColumn="edicao">Edição <p-sortIcon field="edicao"></p-sortIcon></th>
                        <th pSortableColumn="editora">Editora <p-sortIcon field="editora"></p-sortIcon></th>
                        <th pSortableColumn="anoPublicacao">Publicação<p-sortIcon field="anoPublicacao"></p-sortIcon></th>
                        <th pSortableColumn="quantidadeExemplaresDisponiveisEmEstoque">Disponiveis em estoque<p-sortIcon field="quantidadeExemplaresDisponiveisEmEstoque"></p-sortIcon></th>
                        <th pSortableColumn="quantidadeExemplaresDisponiveisParaEmprestimo">Disponiveis Para Emprestimo<p-sortIcon field="quantidadeExemplaresDisponiveisParaEmprestimo"></p-sortIcon></th>
                        <th pSortableColumn="statusLivro">Status Livro<p-sortIcon field="statusLivro"></p-sortIcon></th>
                        <th pSortableColumn="acao">Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-livro >
                    <tr>
                        <!-- <td>
                            <p-tableCheckbox [value]="user"></p-tableCheckbox>
                        </td> -->
                        <!-- <td style="width:14%; min-width:10rem;"><span class="p-column-title">Id</span>
                            {{livro.id}}
                        </td> -->
                        <td style="width: 14%; min-width: 10rem;">
                            <span class="p-column-title">Capa do Livro</span>
                            <img *ngIf="livro.nomeArquivoCapa" [src]="getCapaUrl(livro.nomeArquivoCapa)" alt="Capa do Livro" style="width: 100px; height: auto;">
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Titulo</span>
                            {{livro.titulo}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Autor</span>
                            {{livro.autor}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Edição</span>
                            {{livro.edicao}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Editora</span>
                            {{livro.editora}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Publicação</span>
                            {{livro.anoPublicacao}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Estoque</span>
                            {{livro.quantidadeExemplaresDisponiveisEmEstoque}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Disponiveis</span>
                            {{livro.quantidadeExemplaresDisponiveisParaEmprestimo}}
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Status</span>
                            <span [class]="'product-badge status-' + ( livro.statusLivro == 'Disponivel' ? 'verde' : 'vermelho' )">
                                {{ livro.statusLivro }}
                            </span>
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-image" class="p-button-rounded p-button-primary mr-2" (click)="capaLivro(livro)"></button>
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editLivro(livro)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteLivro(livro)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="livroDialog" header="Cadastrar Livro" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="formgrid grid gap-5 m-4">
                    <div class="field" [style]="{width:'550px'}">
                        <div class="field">
                            <label for="titulo">Titulo</label>
                            <input type="text" pInputText id="titulo" [(ngModel)]="livro.titulo" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !livro.titulo}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !livro.titulo">Titulo obrigatório</small>
                        </div>
                        <div class="field">
                            <label for="autor">Autor</label>
                            <input type="text" pInputText id="autor" [(ngModel)]="livro.autor" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !livro.autor}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !livro.autor">Autor obrigatório</small>
                        </div>
                    <div class="formgrid grid">
                        <div class="field col">
                            <label for="edicao">Edição</label>
                            <input type="text" pInputText id="edicao" [(ngModel)]="livro.edicao" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !livro.edicao}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !livro.edicao">Edição obrigatório</small>
                        </div>
                        <div class="field col">
                            <label for="editora">Editora</label>
                            <input type="text" pInputText id="editora" [(ngModel)]="livro.editora" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !livro.editora}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !livro.editora">Editora obrigatório</small>
                        </div>
                        <div class="field col">
                            <label for="anoPublicacao">Ano de Publicação</label>
                            <input type="text" pInputText id="anoPublicacao" [(ngModel)]="livro.anoPublicacao" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !livro.anoPublicacao}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !livro.anoPublicacao">Publicação obrigatório</small>
                        </div>
                    </div>
                    <div class="formgrid grid">
                        <div class="field col">
                            <label for="quantidadeExemplaresDisponiveisEmEstoque">Estoque disponivel</label>
                            <input type="text" pInputText id="quantidadeExemplaresDisponiveisEmEstoque" [(ngModel)]="livro.quantidadeExemplaresDisponiveisEmEstoque" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !livro.quantidadeExemplaresDisponiveisEmEstoque}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !livro.quantidadeExemplaresDisponiveisEmEstoque">Estoque obrigatório</small>
                        </div>
                    </div>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-primary" (click)="hideDialog()"></button>
                <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-success" (click)="saveLivro()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="editLivroDialog" header="Editar Livro" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="formgrid grid gap-5 m-4">
                    <div class="field" [style]="{width:'450px'}">
                        <div class="field">
                            <label for="titulo">Titulo</label>
                            <input type="text" pInputText id="titulo" [(ngModel)]="livro.titulo" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !livro.titulo}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !livro.titulo">Titulo obrigatório</small>
                        </div>
                        <div class="field">
                            <label for="autor">Autor</label>
                            <input type="text" pInputText id="autor" [(ngModel)]="livro.autor" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !livro.autor}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !livro.autor">Autor obrigatório</small>
                        </div>
                    <div class="formgrid grid">
                        <div class="field col">
                            <label for="edicao">Edição</label>
                            <input type="text" pInputText id="edicao" [(ngModel)]="livro.edicao" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !livro.edicao}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !livro.edicao">Edição obrigatório</small>
                        </div>
                        <div class="field col">
                            <label for="editora">Editora</label>
                            <input type="text" pInputText id="editora" [(ngModel)]="livro.editora" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !livro.editora}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !livro.editora">Editora obrigatório</small>
                        </div>
                        <div class="field col">
                            <label for="anoPublicacao">Publicação</label>
                            <input type="text" pInputText id="anoPublicacao" [(ngModel)]="livro.anoPublicacao" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !livro.anoPublicacao}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !livro.anoPublicacao">Publicação obrigatório</small>
                        </div>
                    </div>
                    <div class="formgrid grid">
                        <div class="field col">
                            <label for="quantidadeExemplaresDisponiveisEmEstoque">Estoque</label>
                            <input type="text" pInputText id="quantidadeExemplaresDisponiveisEmEstoque" [(ngModel)]="livro.quantidadeExemplaresDisponiveisEmEstoque" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !livro.quantidadeExemplaresDisponiveisEmEstoque}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !livro.quantidadeExemplaresDisponiveisEmEstoque">Estoque obrigatório</small>
                        </div>
                    </div>
                    </div>
                    <div>
                        <div>
                            <img *ngIf="livro.nomeArquivoCapa" [src]="getCapaUrl(livro.nomeArquivoCapa)" alt="Capa do Livro" style="width: 200px; height: auto;">
                        </div>
                        <div>
                            <h4 [class]="'product-badge status-' + ( livro.statusLivro == 'Disponivel' ? 'verde' : 'vermelho')"> {{ livro.statusLivro }}</h4>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-primary" (click)="editLivroDialog = false"></button>
                <button pButton pRipple label="Atualizar" icon="pi pi-check" class="p-button-success" (click)="saveLivro()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="capaLivroDialog" header="Atualizar Imagem" [modal]="true">
            <h4 *ngIf="livro"><b>{{ livro.titulo }}</b></h4>
            <app-filedemo (fileSelected)="fileSelected($event)"></app-filedemo>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-success" (click)="sendCapa()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteLivroDialog" header="Deletar Livro" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem" style="font-size: 2rem; color: #ffc107;"></i>
                <span *ngIf="livro"  style="font-size: 15px;">Tem certeza que deseja <b>deletar</b> o livro <b>{{livro.titulo}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-primary" label="Não" (click)="deleteLivroDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-danger" label="Sim" (click)="deleteBook()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
