<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <h2 class="custom-heading mb-0"><b>Empréstimos</b></h2>
                <ng-template pTemplate="right">
                    <div class="my-2">
                        <button pButton pRipple label="Novo Empréstimo" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <!-- <button pButton pRipple label="Deletar" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedUsers()" [disabled]="!selectedUsers || !selectedUsers.length"></button> -->
                    </div>
                    <!-- <div class="my-2">
                        <button pButton pRipple label="Renovação" icon="pi pi-plus" class="p-button-primary mr-2" (click)="openNew()"></button>
                    </div>
                    <div class="my-2">
                        <button pButton pRipple label="Entrega" icon="pi pi-plus" class="p-button-primary mr-2" (click)="openNew()"></button>
                    </div> -->
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="emprestimos" [columns]="colsEmprestimo" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['id','dataEmprestimo','dataDevolucaoPrevista','dataDevolucaoRealizada']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Página {first} de {last}" [(selection)]="selectedEmprestimo" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Pesquisar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <!-- <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th> -->
                        <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="dataEmprestimo">Empréstimo <p-sortIcon field="dataEmprestimo"></p-sortIcon></th>
                        <th pSortableColumn="dataDevolucaoPrevista">Devolução Prevista <p-sortIcon field="dataDevolucaoPrevista"></p-sortIcon></th>
                        <th pSortableColumn="dataDevolucaoRealizada">Devolução Realizada <p-sortIcon field="dataDevolucaoRealizada"></p-sortIcon></th>
                        <th pSortableColumn="statusEmprestimo">Status do Empréstimo <p-sortIcon field="statusEmprestimo"></p-sortIcon></th>
                        <!-- <th pSortableColumn="quantidadeRenovacoesPermitida">Renovações Permitidas <p-sortIcon field="quantidadeRenovacoesPermitida"></p-sortIcon></th> -->
                        <th pSortableColumn="quantidadeRenovacoesRealizadas">Renovações Realizadas <p-sortIcon field="quantidadeRenovacoesRealizadas"></p-sortIcon></th>
                        <th pSortableColumn="usuarioId">Usuário <p-sortIcon field="usuarioId"></p-sortIcon></th>
                        <th pSortableColumn="livroId">Livro <p-sortIcon field="livroId"></p-sortIcon></th>
                        <th pSortableColumn="acao">Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-emprestimo >
                    <tr>
                        <!-- <td>
                            <p-tableCheckbox [value]="user"></p-tableCheckbox>
                        </td> -->
                        <td style="width: 14%; min-width: 10rem;">
                            <span class="p-column-title">Id</span>
                            {{ emprestimo.id }}
                          </td>
                          <td style="width: 14%; min-width: 10rem;">
                            <span class="p-column-title">Data de Empréstimo</span>
                            {{ emprestimo.dataEmprestimo }}
                          </td>
                          <td style="width: 14%; min-width: 10rem;">
                            <span class="p-column-title">Data de Devolução Prevista</span>
                            {{ emprestimo.dataDevolucaoPrevista }}
                          </td>
                          <td style="width: 14%; min-width: 10rem;">
                            <span class="p-column-title">Data de Devolução Realizada</span>
                            {{ emprestimo.dataDevolucaoRealizada }}
                          </td>
                          <td style="width: 14%; min-width: 10rem;">
                            <span class="p-column-title">Status do Empréstimo</span>
                            {{ emprestimo.statusEmprestimo }}
                          </td>
                          <!-- <td style="width: 14%; min-width: 10rem;">
                            <span class="p-column-title">Quantidade de Renovações Permitidas</span>
                            {{ emprestimo.quantidadeRenovacoesPermitida }}
                          </td> -->
                          <td style="width: 14%; min-width: 10rem;">
                            <span class="p-column-title">Quantidade de Renovações Realizadas</span>
                            {{ emprestimo.quantidadeRenovacoesRealizadas }}
                          </td>
                          <td style="width: 14%; min-width: 10rem;">
                            <span class="p-column-title">ID do Usuário</span>
                            {{ emprestimo.usuarioId }}
                          </td>
                          <td style="width: 14%; min-width: 10rem;">
                            <span class="p-column-title">ID do Livro</span>
                            {{ emprestimo.livroId }}
                          </td>

                        <td style="width:14%; min-width:10rem;">
                            <div class="flex">
                                <button pButton pRipple label="Renovar" icon="pi pi-plus" class="p-button-primary mr-2" (click)="openNew()"></button>
                                <button pButton pRipple label="Entregar" icon="pi pi-plus" class="p-button-warning mr-2" (click)="openNew()"></button>

                                <!-- <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editEmprestimo(emprestimo)"></button> -->
                                <!-- <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteUser(user)"></button> -->
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="emprestimosDialog" [style]="{width: '450px'}" header="Novo Empréstimo" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="usuarioMatricula">Matrícula</label>
                    <input type="text" pInputText id="usuarioMatricula" [(ngModel)]="emprestar.usuarioMatricula" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !emprestar.usuarioMatricula}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !emprestar.usuarioMatricula">Name is required.</small>
                </div>

                <div class="field">
                    <label for="usuarioSenha">Senha</label>
                    <input pInputText id="usuarioSenha" [(ngModel)]="emprestar.usuarioSenha" id="password" type="password">
                </div>
                <div class="field">
                    <label for="livroId">Codigo do Livro</label>
                    <input pInputText id="livroId" [(ngModel)]="emprestar.livroId" id="livroId" type="livroId">
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-danger" (click)="hideDialog()"></button>
                <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-success" (click)="saveEmprestimo()"></button>
            </ng-template>
        </p-dialog>

        <!-- <p-dialog [(visible)]="deleteUserDialog" header="Deletar Usuário" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem" style="font-size: 2rem; color: #ffc107;"></i>
                <span *ngIf="user">Tem certeza que deseja <b>deletar</b> o usuário <b>{{user.nome}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Não" (click)="deleteUserDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sim" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteUsersDialog" header="Deletar Usuários" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem" style="font-size: 2rem; color: #ffc107;"></i>
                <span>Tem certeza que deseja <b>deletar</b> os usuários selecionatos?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Não" (click)="deleteUsersDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sim" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog> -->
    </div>
</div>

